<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tasty.mybatis.mapper.ILetterVisitMapper">

    <sql id="queryField">
        LETTER_ID,
        USER_ID,
        USER_NAME,
        LATE_EXAMINE_ID,
        DEAL_USER_ID,
        DEAL_USER_NAME,
        TITLE,
        CONTENTS,
        TYPE,
        DEPARTMENT_ID,
        DEPARTMENT_NAME,
        FILE_NAME,
        FILE_URL,
        CREATE_DATE,
        STATUS_DATE,
        STATUS_CD
    </sql>

    <insert id="insert" parameterType="LetterVisitPO">
          insert into LETTER_VISIT_INFO (LETTER_ID, USER_ID, USER_NAME, DEAL_USER_ID, DEAL_USER_NAME, TITLE, CONTENTS, TYPE, DEPARTMENT_ID, DEPARTMENT_NAME, FILE_NAME, FILE_URL, CREATE_DATE, STATUS_DATE, STATUS_CD)
        values(#{letterId}, #{userId}, #{userName}, #{dealUserId}, #{dealUserName}, #{title}, #{contents}, #{type}, #{departmentId}, #{departmentName}, #{fileName}, #{fileUrl}, now(), now(), '00D')
    </insert>

    <select id="query" parameterType="java.util.Map" resultType="LetterVisitPO">
        select
        <include refid="queryField"></include>
        from LETTER_VISIT_INFO
        where 1 = 1
        <if test="statusCd != null and statusCd != ''">
            and STATUS_CD in (${statusCd})
        </if>
        <if test="userId != null and userId != ''">
            and USER_ID = #{userId}
        </if>
        <if test="dealUserId != null and dealUserId != ''">
            and (DEAL_USER_ID = #{dealUserId}
            <if test="isLead == false">
                or isnull(DEAL_USER_ID) or LENGTH(trim(DEAL_USER_ID)) &lt; 1
            </if>
            )
            and STATUS_CD = '00D'
        </if>
        order by STATUS_DATE desc
        limit #{start}, #{pageSize}
    </select>

    <select id="count" parameterType="java.util.Map" resultType="java.lang.Integer">
        select
        count(1)
        from LETTER_VISIT_INFO
        where 1 = 1
        <if test="statusCd != null and statusCd != ''">
            and STATUS_CD in (${statusCd})
        </if>
        <if test="userId != null and userId != ''">
            and USER_ID = #{userId}
        </if>
        <if test="dealUserId != null and dealUserId != ''">
            and (DEAL_USER_ID = #{dealUserId}
            <if test="isLead = false">
                or isnull(DEAL_USER_ID) or LENGTH(trim(DEAL_USER_ID)) &lt; 1
            </if>
            )
            and STATUS_CD = '00D'
        </if>
    </select>

    <select id="queryById" parameterType="java.lang.Long" resultType="LetterVisitPO">
        select
        <include refid="queryField"></include>
        from LETTER_VISIT_INFO
        where 1 = 1
        and LETTER_ID = #{letterId}
    </select>

    <update id="updateById">
        update LETTER_VISIT_INFO set STATUS_DATE = now(), LATE_EXAMINE_ID = #{examineId}
        <if test="statusCd != null and statusCd != ''">
            , STATUS_CD = #{statusCd}
        </if>
        <if test="dealUserId != null and dealUserId != ''">
            , DEAL_USER_ID = #{dealUserId}
        </if>
        <if test="dealUserName != null and dealUserName != ''">
            , DEAL_USER_NAME = #{dealUserName}
        </if>
        where LETTER_ID = #{letterId} and LATE_EXAMINE_ID = #{lateExamineId} and STATUS_CD = '00D'
    </update>
</mapper>