<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tasty.mybatis.mapper.ILetterVisitMapper">

    <sql id="queryField">
        LETTER_ID,
        USER_ID,
        USER_NAME,
        DEAL_USER_ID,
        DEAL_USER_NAME,
        TITLE,
        CONTENTS,
        TYPE,
        DEPARTMENT_ID,
        DEPARTMENT_NAME,
        FILE_NAME,
        FILE_URL,
        CREATE_DATE,
        STATUS_DATE,
        STATUS_CD
    </sql>

	<insert id="insert" parameterType="LetterVisitPO">
          insert into LETTER_VISIT_INFO (LETTER_ID, USER_ID, USER_NAME, DEAL_USER_ID, DEAL_USER_NAME, TITLE, CONTENTS, TYPE, DEPARTMENT_ID, DEPARTMENT_NAME, FILE_NAME, FILE_URL, CREATE_DATE, STATUS_DATE, STATUS_CD)
        values(#{letterId}, #{userId}, #{userName}, #{dealUserId}, #{dealUserName}, #{title} #{contents}, #{departmentId}, #{departmentName}, #{fileName}, #{fileUrl}, now(), now(), '00A')
    </insert>

    <select id="query" parameterType="java.util.Map" resultType="LetterVisitPO">
          select
              <include refid="queryField"></include>
           from LETTER_VISIT_INFO
           where 1 = 1
            <if test="statusCd != null and statusCd != ''">
               and status_cd = #{statusCd}
            </if>
           limit #{start}, #{pageSize}
    </select>

    <select id="count" parameterType="java.util.Map" resultType="java.lang.Integer">
        select
         count(1)
        from LETTER_VISIT_INFO
        where 1 = 1
        <if test="statusCd != null and statusCd != ''">
            and status_cd = #{statusCd}
        </if>
    </select>

    <select id="queryById" parameterType="java.lang.Long" resultType="LetterVisitPO">
        select
        <include refid="queryField"></include>
        from LETTER_VISIT_INFO
        where 1 = 1
        and LETTER_ID = #{letterId}
    </select>

</mapper>